*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 800;
  background: url('../img/bg.jpg') no-repeat center top fixed / cover;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 135px;
}

p {
  font-size: 30px;
  font-weight: 400;
}

.remainder {
  display: flex;
  text-align: center;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
